gsplat/__pycache__
gsplat/methods/__pycache__
gsplat/datasets/__pycache__
gsplat/render/__pycache__
gsplat/optim/__pycache__
gsplat/utils/__pycache__
gsplat/csrc/__pycache__
gsplat/tests/__pycache__
gsplat/docs/__pycache__
gsplat/scripts/__pycache__
gsplat/apps/__pycache__
gsplat/configs/__pycache__
gsplat/datasets/colmap
gsplat/datasets/nerf_llff_data